<h2><%= @figure.name %></h2>

<h3>Landmarks:</h3>
<% @figure.landmarks.each do |landmark| %>
  <%= landmark.name %>
<% end %>
<br><br>

<a class="button" href="/figures/<%= @figure.id %>/edit">Edit Figure</a>
<a class="button" href="/figures">Figures</a>
